.Home {
  width: 100vw;
  height: 100vh;
}

.Home .title {
  color: black;
  font-size: 160px;
  font-weight: 500;
}

.Home .description {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}
