.Default {
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  font: inherit;
  transition: 0.2s cubic-bezier(0.2, 0.3, 0.2, 1.6) transform;

  cursor: pointer;
}
.Default.stroked {
  border-color: black;
}
.Default.filled {
  color: white;
  background-color: black;
}
.Default:hover {
  transform: scale(1.03);
}
.Default:active {
  transform: scale(0.97);
}
.Default.filled:hover {
  opacity: 0.8;
}
.Default.filled:active {
  opacity: 0.6;
}
