.title {
  color: black;
  font-size: 160px;
  font-weight: 500;
}

.description {
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  text-align: center;
}

.strong {
  font-weight: 600;
}
